@import 'variables';


html,
body {
    height: 100%;
    margin: 0;
}

/*ico*/
.logoQuiz {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 3;
    .icon-logo {
        color:$purple;
        font-size:10vh;
    
    }
}


/*Buttons*/

.btn {
    border-radius: 50%;
    font-family: $defaultFont;
    color: white;
}

.btn_darkPurple {
    background-color: $darkPurple;
}

.btn_purple {
    background-color: $darkPurple;
}

.btn_grad {
    background-image: $blueGrad;
}

/*zoning style*/

.main {
    color: $dark;
}

.header {
    color: white;
    background-image: $purpleGrad;
}

footer {
    height: 10vh ;
    color: white;
    background-image: $purpleGrad;
    .col-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .icon {
        font-size: 6vh;
        margin-top:2vh;
        margin-bottom: 2vh;
    }
}

.aside {
    background-color: $blue;
}

/*text*/

h1,
h2,
h3,
h4,
h5 {
    font-family: $titleFont;
}

p {
    font-family: $defaultFont;
}

/*icon*/

.icon {
    font-family: icomoon;
    color: white;
}

/*Quiz*/

.quiz{
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    align-items: stretch;
    flex-wrap: wrap;
}

.textQuestion {
    flex: 50%;
    
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;

    .question {
        font-family: $titleFont !important;
    }
}

.videoQuestion {
    height: 50vh;
    flex-wrap: wrap;
    .question {
        font-family: $titleFont !important;
    }
     .card{
        overflow:hidden;
         height: 50vh;

     }
img {
	max-width:100%;
	max-height:100%;
}
}

.textAnswer {
    flex: 50%;
    margin-top: 2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.imgAnswer {
    flex: 50%;
    margin-top: 2rem;

}
