@import 'variables';


html,
body {
    height: 100%;
    margin: 0;
}

/*ico*/
.logoQuiz {
    position: fixed;
    top: 1vh;
    left: 1vh;
    z-index: 3;

    .icon-logo {
        color: $purple;
        font-size: 10vh;
        opacity: 0.40;

    }
    .icon-logo:hover {
        color:$purpleBlue;
        opacity: 1;
        transition: all .2s ease-in-out;
    }
}


/*Buttons*/

.btn {
    border-radius: 50%;
    font-family: $defaultFont;
    color: white;
}

.btn_darkPurple {
    background-color: $darkPurple;
}

.btn_purple {
    background-color: $darkPurple;
}

.btn_grad {
    background-image: $blueGrad;
}

/*zoning style*/

.main {
    color: $dark;
}

.header {
    color: white;
    background-image: $purpleGrad;
}

footer {
    height: 10vh;
    color: white;
    background-image: $purpleGrad;

    .col-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .icon {
        font-size: 6vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.aside {
    background-color: $blue;
}

/*text*/

h1,
h2,
h3,
h4,
h5 {
    font-family: $titleFont;
}

p {
    font-family: $defaultFont;
}

a {
    color: transparent !important;
    width: 100%;
    height: 100%;
}
a:hover{
    color: transparent !important;
}

a:focus{
    color:transparent !important;
}
/*icon*/

.icon {
    font-family: icomoon;
    color: white;
}

/*Quiz*/

.quiz {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    align-items: stretch;
    flex-wrap: wrap;
}

.textQuestion {
    top: 2vh;
    height: 15vh;
    flex-wrap: wrap;
    text-align: center;

    .question {
        font-family: $titleFont !important;
    }

    .card {
        overflow: hidden;
        height: 20vh;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.videoQuestion {
    top: 2vh;
    height: 50vh;
    flex-wrap: wrap;
    text-align: center;

    .question {
        font-family: $titleFont !important;
    }

    .card {
        overflow: hidden;
        height: 50vh;

    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.textAnswer {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .row {
        width: 100%;
    }

    .card {
        transition: all .2s ease-in-out;
    }

    .card:hover {
        color: white;
        background-color: $purple;
    }
}

.imgAnswer {
    flex: 50%;

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        transition: all .2s ease-in-out;
        height: 600px;
        max-height: 30vh;
    }

    .card:hover {
        color: white;
        background-color: $blue;
    }

    .card:focus{
        color: $purpleBlue;
    }

    .card:active{
        color: $purpleBlue;   
    }

    .inputCard:click{
        color: $purpleBlue;  
    }

    .image {
        border-radius: 1vh;
        margin: 10%;
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%;
    }

    .row,
    .col-6,
    .container-fluid {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;

    }

}

.result{
    display: flex;
    flex-direction: column;
    text-align: center;
}