/*colors*/
/*background-image*/
@import url("https://fonts.googleapis.com/css?family=Baloo|Muli");
/*colors*/
/*background-image*/
html,
body {
  height: 100%;
  margin: 0;
}

/*ico*/
.logoQuiz {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 3;
}

.logoQuiz .icon-logo {
  color: #AC78E8;
  font-size: 10vh;
}

/*Buttons*/
.btn {
  border-radius: 50%;
  font-family: "Muli", sans-serif;
  color: white;
}

.btn_darkPurple {
  background-color: #780877;
}

.btn_purple {
  background-color: #780877;
}

.btn_grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#858EFE), to(#94C6E8));
  background-image: linear-gradient(to right, #858EFE, #94C6E8);
}

/*zoning style*/
.main {
  color: rgba(10, 10, 10, 0);
}

.header {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#858EFE), to(#AC78E8));
  background-image: linear-gradient(to right, #858EFE, #AC78E8);
}

footer {
  height: 10vh;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#858EFE), to(#AC78E8));
  background-image: linear-gradient(to right, #858EFE, #AC78E8);
}

footer .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .icon {
  font-size: 6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.aside {
  background-color: #94C6E8;
}

/*text*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo", cursive;
}

p {
  font-family: "Muli", sans-serif;
}

/*icon*/
.icon {
  font-family: icomoon;
  color: white;
}

/*Quiz*/
.quiz {
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textQuestion {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}

.textQuestion .question {
  font-family: "Baloo", cursive !important;
}

.videoQuestion {
  height: 50vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videoQuestion .question {
  font-family: "Baloo", cursive !important;
}

.videoQuestion .card {
  overflow: hidden;
  height: 50vh;
}

.videoQuestion img {
  max-width: 100%;
  max-height: 100%;
}

.textAnswer {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgAnswer {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */