/*colors*/
$dark: rgba(10, 10, 10, 0);
$darkPurple: #780877;
$purple: #AC78E8;
$purpleBlue: #858EFE;
$blue:#94C6E8;
$cyan:#7EFFEF;

/*background-image*/

$purpleGrad: linear-gradient(to right, $purpleBlue , $purple);
$blueGrad: linear-gradient(to right, $purpleBlue , $blue);

// Typography

$titleFont: 'Baloo', cursive;
$defaultFont: 'Muli', sans-serif;



